<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Everbridge Meraki Connector</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.4/dist/css/bootstrap.min.css" />
    <script src="/bootstrap-3.3.4/js/jquery.min.js"></script>
    <script src="/bootstrap-3.3.4/dist/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="list-inline">
            <li><img src="/image/logo.png"/></li>
            <li style = "padding-top: 5px"><h4>Meraki Connector</h4></li>
            <li style = "float:right; padding-top: 12px"><a href="/logout"><span class="glyphicon glyphicon-log-out">LogOut</span></a></li>
        </ul>
    </div>
</nav>

<script th:inline="javascript">
    $(document).ready(function () {
        var env = [[${organization.environment}]]
        ele = document.getElementById("environment")
        opt = ele.getElementsByTagName('option')
        if( env == "staging" ) {
            opt[0].selected = 'selected'
        }
        else if( env == "production" ) {
            opt[1].selected = 'selected'
        }
        else {
            opt[2].selected = 'selected'
        }

        var dynamicLoc = [[${organization.dynamicLocationUpdateInterval}]]
        ele = document.getElementById("dynamicLocationUpdateInterval")
        opt = ele.getElementsByTagName('option')
        var dict = {}
        dict["5"] = 0
        dict["10"] = 1
        dict["15"] = 2
        dict["30"] = 3
        dict["60"] = 4
        opt[dict[dynamicLoc]].selected = 'selected'

        var geolocateBy = [[${organization.geolocateBy}]]
        ele = document.getElementById("geolocateBy")
        opt = ele.getElementsByTagName('option')

        if( geolocateBy == "location" ) {
            opt[0].selected = 'selected'
        } else {
            opt[1].selected = 'selected'
        }
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <h4>Locations</h4>
                <ul id='locations' class="sidebar-links">
                    <li th:each="locationMainUI:${locationMainUIList}"><a th:href="@{/maps/location/} + ${locationMainUI.id}" data-location-id='${locationMainUI.id}' th:text = "${locationMainUI.name}"></a></li>
                </ul>

                <h4>Admin</h4>
                <ul class="sidebar-links">
                    <li><a href='/main'>Main</a></li>
                    <li><a href='/useruploads'>Contacts</a></li>
                    <li><a href='/usermacs'>Macs</a></li>
                    <li><a href='/locations'>Locations</a></li>
                    <li><a href='/accesspoints'>Access Points</a></li>
                    <li><a href='/organizations/'>Organization</a></li>
                    <li><a href='/accounts'>Accounts</a></li>
                </ul>
        </div>
        <div id="content" class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
            <h2>Edit organization</h2>
            <form id='form' action="#" th:action="@{/organizations}" th:object="${organization}" method="post">
                <table class='table table-responsive' cellspacing='0' cellpadding='0' border='0'>
                    <tr style = "display:none">
                        <td>
                            ID
                        </td>
                        <td>
                            <input th:value="${organization.id}" type="text" th:field="*{id}" id="id" placeholder="" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            <input th:value="${organization.name}" type="text" th:field="*{name}" id="name" placeholder="" autofocus="autofocus" />
                        </td>
                    </tr>
                    <tr style ="display:none">
                        <td>
                            Everbridge Organization Id
                        </td>
                        <td>
                            <input th:value="${organization.ebOrganizationId}" type="text" th:field="*{ebOrganizationId}" id="ebOrganizationId" placeholder=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Meraki Validator
                        </td>
                        <td>
                            <input th:value="${organization.validator}" type="text" th:field="*{validator}" id="validator" placeholder=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Meraki Secret
                        </td>
                        <td>
                            <input th:value="${organization.secret}" type="text" th:field="*{secret}" id="secret" placeholder=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Everbridge API Username
                        </td>
                        <td>
                            <input th:value="${organization.apiUsername}" type="text" th:field="*{apiUsername}" id="apiUsername" placeholder=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Everbridge API Password
                        </td>
                        <td>
                            <input th:value="${organization.apiPassword}" type="text" th:field="*{apiPassword}" id="apiPassword" placeholder=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Environment
                        </td>
                        <td>
                            <select id = "environment" name="environment">
                                <option value='staging'  selected="selected" >staging</option>
                                <option value='production' >production</option>
                                <option value='qa' >qa</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dynamic Location Update Interval (minutes)
                        </td>
                        <td>
                            <select id = "dynamicLocationUpdateInterval" name="dynamicLocationUpdateInterval" >
                                <option value='5'  selected="selected" >5</option>
                                <option value='10' >10</option>
                                <option value='15' >15</option>
                                <option value='30' >30</option>
                                <option value='60' >60</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Geolocate contacts to
                        </td>
                        <td>
                            <select id = "geolocateBy" name="geolocateBy">
                                <option value='location'  selected="selected" >Location Only</option>
                                <option value='lat_lng' >Location + Lat/Lng</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <input class='btn btn-primary btn-sm' type='submit' style='float: right' value='Update'/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>

</html>