<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Everbridge Meraki Connector</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.4/dist/css/bootstrap.min.css" />
    <script src="/bootstrap-3.3.4/js/jquery.min.js"></script>
    <script src="/bootstrap-3.3.4/dist/js/bootstrap.min.js"></script>
    <script th:inline="javascript" src="/admin/organization/js/orgedit.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="list-inline">
            <li><img src="/image/logo.png"/></li>
            <li style = "padding-top: 5px"><h4>Meraki Connector</h4></li>
            <li style = "float:right; padding-top: 12px"><a href="/logout"><span class="glyphicon glyphicon-log-out">Logout</span></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
            <h4>Admin</h4>
            <ul class="sidebar-links">
                <li><a href='/organizations'>Organizations</a></li>
                <li><a href='/accounts'>Accounts</a></li>
            </ul>
        </div>
        <div id="content" class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
            <h2>Organizations</h2>
            <a href='/organizations/new'>Add new organization</a>
            <table id = "resTable" class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th style="display:none">organizationId</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Accounts</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="organization:${organizationList}">
                    <td th:text="${organization.ebOrganizationId}" style="display:none"></td>
                    <td th:text="${organization.id}"></td>
                    <td th:text="${organization.name}"></td>
                    <td>
                        <div th:each="account:${organization.accountList}">
                            <p th:text="${account.email}"></p>
                        </div>
                    </td>
                    <td>
                        <button type="button" onclick="edit(this)" class="btn btn-info btn-xs"> Edit
                        </button>
                        <button type="button" onclick="del(this)" class="btn btn-danger btn-xs"> Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<form id='form' method='POST' action='/current_organizations'>-->
                <!--<table class='table' cellspacing='0' cellpadding='0' border='0'>-->
                    <!--<tr>-->
                        <!--<td>-->
                            <!--Set current organization-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<select name='organization_id'>-->

                            <!--</select>-->

                        <!--</td>-->
                        <!--<td>-->
                            <!--<input class='btn btn-default' type='submit' style='float: right' value='Set'/>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</form>-->

        </div>
    </div>
</div>
</body>

</html>