<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Everbridge Meraki Connector</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.4/dist/css/bootstrap.min.css" />
    <script src="/bootstrap-3.3.4/js/jquery.min.js"></script>
    <script src="/bootstrap-3.3.4/dist/js/bootstrap.min.js"></script>
</head>

<script th:inline="javascript">
    function customerNameFocusout(ele) {
        parentEle = ele.parentElement.parentElement
        id = parentEle.children[0].innerHTML
        customerName = ele.value
        var data = {}
        data["id"] = id
        data["customerName"] = customerName
        $.ajax({
            type: "POST",
            contentType : "application/json",
            url: "/accesspointCustomerNameSave",
            data: JSON.stringify(data),
            dataType: 'json',
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown, jqXHR.error());
            },
            success: function(result){
                saveSpan = ele.parentElement.getElementsByTagName('span')[0]
                saveSpan.style.visibility = "visible"
                $(saveSpan).fadeOut(2000, function() {
                    saveSpan.style= "inline"
                    saveSpan.style.visibility = "hidden"
                })
            },
            done : function(e) {
                console.log("DONE")
            }
        });
    }

    function locationChange(ele) {
        parentEle = ele.parentElement.parentElement
        id = parentEle.children[0].innerHTML
        var data = {}
        data["id"] = id
        ct = 0
        while(1) {
            if( ct == ele.children.length )
                break
            if( ele.children[ct].selected ) {
                data["locationId"] = ele.children[ct].value
                break
            }
            ct++
        }

        $.ajax({
            type: "POST",
            contentType : "application/json",
            url: "/accesspointLocationSave",
            data: JSON.stringify(data),
            dataType: 'json',
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown, jqXHR.error());
            },
            success: function(result){
                saveSpan = ele.parentElement.getElementsByTagName('span')[0]
                saveSpan.style.visibility = "visible"
                $(saveSpan).fadeOut(2000, function() {
                    saveSpan.style= "inline"
                    saveSpan.style.visibility = "hidden"
                })
            },
            done : function(e) {
                console.log("DONE")
            }
        });
    }

    $(document).ready(function () {
        var accesspointList = [[${accesspointList}]]
        ele = document.getElementById("accesspointTbl")
        opt = ele.getElementsByTagName('tr')
        ct = 1
        while(1) {
            if( ct == opt.length )
            break
            trele = opt[ct]
            tdopt = trele.getElementsByTagName('option')
            ctt = 1
            while(1) {
                if( ctt == tdopt.length)
                break
                if( tdopt[ctt].value == accesspointList[ct - 1].locationId ) {
                    tdopt[ctt].selected = 'selected'
                }
                ctt++
            }
            ct++
        }
    });
</script>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="list-inline">
            <li><img src="/image/logo.png"/></li>
            <li style = "padding-top: 5px"><h4>Meraki Connector</h4></li>
            <li style = "float:right; padding-top: 12px"><a href="/logout"><span class="glyphicon glyphicon-log-out">LogOut</span></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <h4>Locations</h4>
                <ul id='locations' class="sidebar-links">
                    <li th:each="locationMainUI:${locationMainUIList}"><a th:href="@{/maps/location/} + ${locationMainUI.id}" data-location-id='${locationMainUI.id}' th:text = "${locationMainUI.name}"></a></li>
                </ul>
                <h4>Admin</h4>
                <ul class="sidebar-links">
                    <li><a href='/main'>Main</a></li>
                    <li><a href='/useruploads'>Contacts</a></li>
                    <li><a href='/usermacs'>Macs</a></li>
                    <li><a href='/locations'>Locations</a></li>
                    <li><a href='/accesspoints'>Access Points</a></li>
                    <li><a href='/organizations'>Organization</a></li>
                    <li><a href='/accounts'>Accounts</a></li>
                </ul>
        </div>
        <div id="content" class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
            <h2>Access Point to Location mapping</h2>
            <table id = "accesspointTbl"  class='table table-striped' cellspacing='0' cellpadding='0' border='0'>
                <tr>
                    <th>Id</th>
                    <th>Mac</th>
                    <th>Name</th>
                    <th>Location</th>
                </tr>
                <tr th:each="accesspoint:${accesspointList}">
                    <td th:text="${accesspoint.id}"></td>
                    <td th:text="${accesspoint.mac}"></td>
                    <td>
                        <input th:value="${accesspoint.customerName}" onblur="customerNameFocusout(this)" placeholder="Custom Name"/>
                        <span style="visibility:hidden" class='hint'> Saved! </span>
                    </td>
                    <td>
                        <select id = "location" class="selectpicker" name="locationList" onchange="locationChange(this)">
                            <option th:value="-1" th:text="${selecttext}"> </option>
                            <option th:each="location:${locationList}" th:value="${location.id}" th:text="${location.name}"></option>
                        </select>
                        <span style="visibility:hidden" class='hint'> Saved! </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>

</html>