<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Everbridge Meraki Connector</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.4/dist/css/bootstrap.min.css" />
    <script src="/bootstrap-3.3.4/js/jquery.min.js"></script>
    <script src="/bootstrap-3.3.4/dist/js/bootstrap.min.js"></script>
</head>

<script th:inline="javascript">
    $(document).ready(function () {
        var duplicateAccountEmail = [[${duplicateAccountEmail}]]
        if( duplicateAccountEmail == "true" ) {
            alert("This email address does already exist! Please use another email address")
        }
    });
</script>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="list-inline">
            <li><img src="/image/logo.png"/></li>
            <li style = "padding-top: 5px"><h4>Meraki Connector</h4></li>
            <li style = "float:right; padding-top: 12px"><a href="/logout"><span class="glyphicon glyphicon-log-out">Logout</span></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-3">
                <h4>Locations</h4>
                <ul id='locations' class="sidebar-links">
                    <li th:each="locationMainUI:${locationMainUIList}"><a th:href="@{/maps/location/} + ${locationMainUI.id}" data-location-id='${locationMainUI.id}' th:text = "${locationMainUI.name}"></a></li>
                </ul>

                <h4>Admin</h4>
                <ul class="sidebar-links">
                    <li><a href='/main'>Main</a></li>
                    <li><a href='/useruploads'>Contacts</a></li>
                    <li><a href='/usermacs'>Macs</a></li>
                    <li><a href='/locations'>Locations</a></li>
                    <li><a href='/accesspoints'>Access Points</a></li>
                    <li><a href='/organizations/'>Organization</a></li>
                    <li><a href='/accounts'>Accounts</a></li>
                </ul>
        </div>
        <div id="content" class="col-xs-12 col-sm-8 col-md-10 col-lg-9">
            <h2>Add new account</h2>
            <form id='form' action="#" th:action="@{/accounts}" th:object="${account}" method="post">
                <table class='table' cellspacing='0' cellpadding='0' border='0'>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <input th:value="${account.email}" type="text" th:field="*{email}" id="email" placeholder="" autofocus="autofocus" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            <input th:value="${account.password}" type="password" th:field="*{password}" id="password" placeholder=""/>
                        </td>
                    </tr>
                    <tr style = "display:none">
                        <td>
                            Organization
                        </td>
                        <td>
                            <input th:value="${orgID}" type="text" name = "orgID" id = "orgID" placeholder=""/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/accounts">List all</a>
                        </td>
                        <td>
                            <input class='btn btn-success btn-sm' type='submit' style='float: right' value='Save'/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>

</html>

