<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Everbridge Meraki Connector</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.4/dist/css/bootstrap.min.css" />
    <script src="/bootstrap-3.3.4/js/jquery.min.js"></script>
    <script src="/bootstrap-3.3.4/dist/js/bootstrap.min.js"></script>
</head>

<script th:inline="javascript">
    $(document).ready(function () {
        var invalid = [[${invalid}]]
        if( invalid == "true" ) {
            alert("Invalid email or password!")
        } else {
            var login = [[${login}]]
            if( login == "admin" ) {
                window.location = "/organizations"
            }
            if( login == "enduser") {
               window.location = "/main"
            }
        }
    });
</script>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="list-inline">
            <li><img src="/image/logo.png"/></li>
            <li style = "padding-top: 5px"><h4>Meraki Connector</h4></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        </div>
        <div id="content" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-xs-4 col-sm-6 col-md-5 col-lg-4">
                    <!--<form class="form-login form-horizontal" action="#" th:action="@{/login}" th:object="${account}" method="post" >-->
                    <form class="form-login form-horizontal" action="/" method="post" >
                        <div>
                            <h4>Log In</h4>
                            <div class="form-group">
                                <!--<input th:value="${account.email}" class="form-control" type="text" th:field="*{email}" id="email" placeholder="" autofocus="autofocus" />-->
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email" autofocus = "autofocus">
                                </input>
                            </div>
                            <div class="form-group">
                                <!--<input th:value="${account.password}" class="form-control" type="password" th:field="*{password}" id="password" placeholder=""/>-->
                                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                                </input>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-block btn-primary" value="Log In">
                                </input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>